<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
    
    <%- include('./partials/nav') %>
    

    <h1><%= locals.name %></h1>
    <ul>
      <% locals.menuItems.forEach(item => { %>
        <li>
          <div>
            <h3><%= item.name %></h3>
            <h4 style="font-weight: normal;"><strong>Price:</strong> <%= item.price %></h4>
            <h4 style="font-weight: normal;"><strong>Rating:</strong> <%= item.rating %></h4>
            <h4 style="font-weight: normal;"><strong>Details:</strong> <%= item.details %></h4>
          </div>
        </li>
      <% }) %>
    </ul>
</body>
</html>
